:host {
  border-bottom: 5px solid var(--dark-green);
  display: block;
  padding: 16px;
  color: white;
  height: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: black;
  z-index: 2;
  min-height: var(--header-height);
}

.login-container {
  border-bottom: 5px solid white;
  margin-bottom: 32px;
  margin-left: -16px;
  margin-top: -16px;
  margin-right: -16px;
  padding: 16px;
  background: #1f1f1f;
  overflow: hidden;
}


@keyframes outline {
  0% {
    outline-offset: 0px;
    outline: 2px solid #ffc107;
  }
  50% {
    outline-offset: 10px;
    outline: 2px solid #ffc107;
  }
  100% {
    outline-offset: 0px;
    outline: 2px solid #ffc107;
  }
}

button.outline {
  animation: outline 1s infinite;
  &:before {
    content: "Login to see all services ➡";
    font-weight: normal;
    position: absolute;
    left: -170%;
  }
}
