:host {
  border-bottom: 5px solid var(--dark-green);
  display: block;
  padding: 16px;
  color: white;
}

.login-container {
  border-bottom: 5px solid white;
  margin-bottom: 32px;
  margin-left: -16px;
  margin-top: -16px;
  margin-right: -16px;
  padding: 16px;
  background: #1f1f1f;
  overflow: hidden;
}

button {
  height: 50px;
}
