:host {
  border-bottom: 5px solid var(--dark-green);
  display: block;
  padding: 16px;
  height: auto;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: black;
  z-index: 2;
  min-height: var(--header-height);
}

.login-container {
  border-bottom: 5px solid white;
  margin-bottom: 32px;
  margin-left: -16px;
  margin-top: -16px;
  margin-right: -16px;
  padding: 16px;
  background: #1f1f1f;
  overflow: hidden;
}

img {
  cursor: pointer;
  transition: 300ms;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.10);
  }
}


