:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  z-index: 1000;
  transition: background-color 0.3s;
  width: 100%;
  height: 20px;
  cursor: move;

  &[direction="x"] .material-icons {
    transform:rotate(90deg);
  }
}

i.material-icons {
  user-select: none;
  color:white;
}
