:host {
  font-family: Roboto;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.56);
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.search-container {
  z-index: 4;
  position: fixed;
  top: 125px;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  background: white;
  box-sizing: content-box;
  color: black;
}

input.search {
  border: 0;
  background-color: inherit;
  font-size: 1.10rem;
  width: 100%;
  padding: 4px 8px;
  color: inherit;
}

input:focus {
  outline: none;
}

.results-container {
  max-height: 70vh;
  overflow: auto;
  a {
    color: black;
    padding: 2px 8px;
    display: block;
    transition: 50ms;
    text-decoration: none;

    span ::ng-deep em {
      color: #23A0DB;
    }

    &:hover{
      background-color: rgba(0, 0, 0, 0.3);
    }

    &:focus {
      color: white;
      background-color: var(--bg-color);
    }

    &:focus {
      outline: 0;
    }
  }
}

mat-spinner {
  position: absolute;
  right: 8px;
  top: 6px;
}
