aside {
  height: calc(100vh - 100px);
  padding: 16px;
  border-right: 1px solid var(--dark-green);
  overflow: scroll;
  color: white;

  mat-form-field {
    width: 100%;
  }
  button {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    ::ng-deep em {
      color: yellow;
    }
  }
}
