<div class="tabs-container">
  <mat-tab-group *ngIf="!(noUser$ | async)" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab
    *ngFor="let selectedService of selectedServices; let index = index"
    [label]="selectedService.name || 'Service ' + (index + 1) ">
      <eva-service-tester-info [testerState]="selectedServices[index]"></eva-service-tester-info>
    </mat-tab>
  </mat-tab-group>

  <button mat-button (click)="addTab()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<eva-service-tester [testerState]="selectedServices[serviceListItem]" [serviceListItem]="selectedService"></eva-service-tester>
