<div class="row m-0">
  <aside class="col-12 col-md-4">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <input matInput placeholder="Search service" formControlName="search">
      </mat-form-field>
    </form>

    <ng-container *ngIf=" services$ | async; let services">
      <ng-container *ngFor="let service of (services | fusejs:searchTerms:searchOptions)">
        <button mat-button class="w-100" (click)="selectService(service)">
          <span [innerHTML]="service.fuseJsHighlighted.name"></span>
        </button>
      </ng-container>
    </ng-container>
  </aside>

  <div class="col-12 col-md-8">
    <eva-service-tester [serviceListItem]="selectedService"></eva-service-tester>

  </div>

</div>


