:host {
  // 49 (tabs height + 100 header height )
  height: calc(100vh - 149px);
  display: block;
}

aside {
  padding: 16px;
  border-right: 1px solid var(--dark-green);
  overflow: scroll;


  mat-form-field {
    width: 100%;
  }
  button {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    ::ng-deep em {
      color: yellow;
    }
  }
}
