:root {
    --bg-color: rgba(0, 0, 0, 0.8);
    --dark-green: #00701a;
    --header-height: 100px;
}

:root.light {
  --bg-color: whitesmoke;
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--bg-color);
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

router-outlet {
  display: block;
  margin-top: var(--header-height);
}
