:host {
  overflow: auto;
  padding: 16px;
  display: block;
  height: 100%;
  overflow-x: hidden;
}

eva-monaco-editor {
  height: 350px;
}

.response-buttons {
  position: absolute;
  right: 0;
}

eva-json-formatter {
  min-height: 36px;
}
