:host {
  overflow: auto;
  padding: 16px;
  display: block;
  height: 100%;
  overflow-x: hidden;
}

h1, h6 {
  font-family: 'Roboto Mono',monospace;
}


h6 {
  opacity: 0.54;
}

mat-chip-list ::ng-deep .mat-chip-list-wrapper {
  align-items: center !important;
}

mat-spinner {
  position: absolute;
  top: 4px;
  right: 4px;
}


eva-monaco-editor {
  height: 350px;
}
