<mat-tab-group [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Request">
    <form [formGroup]="form">
      <eva-monaco-editor
        (keydown.ctrl.Enter)="preformRequest()"
        (keydown.meta.Enter)="preformRequest()"
        [model]="monacoModel" [options]="monacoOptions" formControlName="editor" (monacoLoad)="monacoLoad()"></eva-monaco-editor>
    </form>

    <div class="no-gutters row justify-content-end">
      <button mat-button (click)="preformRequest()">Submit</button>
    </div>

  </mat-tab>

  <mat-tab label="Response" [disabled]="!editorContainerState.response">
    <div class="response-buttons">
      <button mat-button (click)="expandAllJson = !expandAllJson">Toggle</button>
        <button mat-button (click)="copyResponse(editorContainerState.response)">Copy</button>
    </div>
    <eva-json-formatter [expandAll]="expandAllJson" [json]="editorContainerState.response"></eva-json-formatter>
  </mat-tab>

  <mat-tab label="Live demo">
    <p class="py-3">This will allow you to edit the request and see changes in real time, it will also teach you how to use the <a href="https://github.com/springtreesolutions/eva-sdk-redux">eva-sdk-redux</a> in your applications</p>

    <button mat-button (click)="openCodeSample()">
      Open demo
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>




