<mat-spinner *ngIf="loading" @fadeInOut [diameter]="30"></mat-spinner>

<ng-container *ngIf="currentService">
  <h1>
    <div class="row no-gutters justify-content-between align-items-center">
      <span>{{ serviceListItem.name }}</span>
      <div class="d-flex align-items-center">
        <mat-chip-list class="mr-2" [@listAnimation]="currentService.security.requiredUserType.length">
          <mat-chip *ngFor="let functionality of currentService.security.requiredUserType" selected color="primary">
          {{ functionality }}
          </mat-chip>
        </mat-chip-list>
        <mat-chip-list>
          <mat-chip color="accent" [matTooltip]="currentService.security.requiresAuthentication ? 'Requires authentication'  : 'Doesnt require authentication' ">
            <ng-container *ngIf="currentService.security.requiresAuthentication">
              <mat-icon>lock</mat-icon>
            </ng-container>
            <ng-container *ngIf="currentService.security.requiresAuthentication === false">
              <mat-icon>lock_open</mat-icon>
            </ng-container>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </h1>
  <h6>{{ serviceListItem.type }}</h6>

  <eva-markdown-html [markdown]="currentService?.description"></eva-markdown-html>
</ng-container>

<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab label="Request">
    <form [formGroup]="form">
      <eva-monaco-editor
        (keydown.ctrl.Enter)="preformRequest()"
        (keydown.meta.Enter)="preformRequest()"
        [model]="monacoModel" [options]="monacoOptions" formControlName="editor" (monacoLoad)="monacoLoad()"></eva-monaco-editor>
    </form>

    <div class="no-gutters row justify-content-end">
      <button mat-button (click)="preformRequest()">Submit</button>
    </div>

  </mat-tab>

  <mat-tab label="Response" [disabled]="!response">
    <div class="response-buttons">
      <button mat-button (click)="expandAllJson = !expandAllJson">Toggle</button>
        <button mat-button (click)="copyResponse(response)">Copy</button>
    </div>
    <eva-json-formatter [expandAll]="expandAllJson" [json]="response"></eva-json-formatter>
  </mat-tab>

  <mat-tab label="Live demo">
    <p class="py-3">This will allow you to edit the request and see changes in real time, it will also teach you how to use the <a href="https://github.com/springtreesolutions/eva-sdk-redux">eva-sdk-redux</a> in your applications</p>

    <button mat-button (click)="openCodeSample()">
      Open demo
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-tab>
</mat-tab-group>




